html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 600;
    font-family:'Segoe UI', sans-serif;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding:0px 40px;
}

.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.title{
  font-size: 2.5rem;

}

table {
    width: 100%;
}
table, th, td {
    border: 1px solid #dadada;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    margin: 0;
    font-weight: 600;
}
table th {
    background-color: #efefef;
    font-weight: bold;
    text-align: center;
}
table td {
    text-align: left;
    font-weight: 300;
}

.footer ul >li>a{
  color:#ffffff;
}

.footer ul >li{
  list-style: none
}




.jumbotron{background:white;}

/*color codes go here.....pls take note of the convention*/
.blue-darken{
  background:#2D2FEA
}

.blue-lighten{
  background: #2DA9EA
}

.blue{
  background:#339CFF
}

.blue-text{
  color:#339CFF
}

.green-darken{
  background: #04C00E;
}

.green-lighten{
  background: #3FED0B;
}

.green{
  background: #05E624
}

.green-text{
  color: #05E624;
}

.yellow-darken{

}

.yellow-lighten{
  background: #F6F706;
}

.yellow{
  background: #F7E506;
}

.yellow-text{
  color: #F7E506;
}

.white-text{
  color: #ffffff;
}

.heading1{
  font-size: 40px;
}

.heading2{
  font-size: 60px;
}

.dark{
  /*dark is still dark anywhere*/
  background: #202020;
}

.dark-text{
  color: #202020
}
